name: PR Check

on:
  pull_request:
    branches:
      - main

jobs:
  pr-check:
    name: PR Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Force fail
        run: exit 1
